<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AI-powered career guidance platform aligned with India's National Education Policy (NEP)">
    <meta name="keywords" content="Career Guidance, NEP, AI Platform, Education">
    <meta name="author" content="Aishwarya Vijay Katare">
    <title>Career Prediction Platform</title>
    <link rel="stylesheet" href="/static/Landing.css">
   
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="static/logo.webp" alt="Website Logo">
            <span>Career Navigator</span>
        </div>
        <nav>
            <a href="#">Home</a>
            <a href="#">Contact Us</a>
            <a href="{{ url_for('vision') }}">Vision</a>
        </nav>
    </div>

    <div class="container">
        <div class="card">
            <a href="science.html" style="text-decoration: none; color: inherit;">
                <img src="static/Science.jpg" alt="Science Career">
                <h3>Science</h3>
                <p>Explore cutting-edge technology, research, and discovery in the world of science!</p>
            </a>
        </div>
        <div class="card">
            <a href="arts.html" style="text-decoration: none; color: inherit;">
                <img src="static\Arts.png" alt="Arts Career">
                <h3>Arts</h3>
                <p>Discover the world of creativity, culture, and self-expression through arts!</p>
            </a>
        </div>

        <div class="card">
            <a href="commerce.html" style="text-decoration: none; color: inherit;">
                <img src="static/Commerce.jpg" alt="Commerce Career">
                <h3>Commerce</h3>
                <p>Learn about business, economics, and financial strategies for success!</p>
            </a>
        </div>
    </div>

    <form action="/survey" method="get" style="text-align: center; margin-top: 20px;">
        <button class="redirect-btn" type="submit">Start the Survey</button>
    </form>

    <footer>
        <p>&copy; 2024 AI Career Guidance Platform. All Rights Reserved.</p>
    </footer>
</body>
</html>